/**
 * System     : LiqSec
 * Repository : https://github.com/christian-westbrook/liqsec.git
 * File       : dashboard.css
 * Developers : Nathan Brown, Nicholas Leonard, and Christian
 * Version    : Pre-release
 * Abstract   : Stylesheet for dashboard.php
 */

 body
 {
     background: #eee8d5;
     color: #fdf6e3;
     margin: 0;
     padding: 0;
 }

 h1
 {
     margin-top: 20em;
 }
