/**
 * System     : LiqSec
 * Repository : https://github.com/christian-westbrook/liqsec.git
 * File       : dashboard.css
 * Developers : Nathan Brown, Nicholas Leonard, and Christian
 * Version    : Pre-release
 * Abstract   : Stylesheet for dashboard.php
 */

 body
 {
     background: #002b36;
     color: #93a1a1;
     margin: 0;
     padding: 0;
 }

 h1
 {
     display: block;
     margin: 0 auto;
     margin-top: 5em;
     text-align: center;
 }

 .device
 {
     background: #eee8d5;
     color: black;

     border-radius: 10px;
     border: solid 2px white;

     width: 18em;
     height: 4em;

     display: block;
     margin: 0 auto;
     margin-top: 0.5em;
     margin-bottom: 0;
 }

 .devname
 {
     margin-top: 0;
     margin-left: 0.5em;
 }

 #reg
 {
     text-align: center;
 }

 #new
 {
     height: 3em;
 }
