/**
 * System     : LiqSec
 * Repository : https://github.com/christian-westbrook/liqsec.git
 * File       : device.css
 * Developers : Nathan Brown, Nicholas Leonard, and Christian
 * Version    : Pre-release
 * Abstract   : Stylesheet for device.php
 */

 body
 {
     background: #002b36;
     color: white;
     margin: 0;
     padding: 0;
 }

 #info
 {
	 margin: 0 auto;
	 margin-top: 6em;
     margin-left: 1em;
 }

 #info a
 {
     text-decoration: none;
     color: #ADD8E6;
 }

 .log
 {
     margin-left: 1em;
 }
