/**
 * System     : LiqSec
 * Repository : https://github.com/christian-westbrook/liqsec.git
 * Developers : Nathan Brown, Nicholas Leonard, and Christian
 * Version    : Pre-release
 * Abstract   : Stylesheet for header.php
 */

html, body
{
    margin: 0;
    padding: 0;
}

 #header
 {
     background: #00447C;
     color: white;

     width: 100%;
     height: 3em;

     position: absolute;
     top: 0;
 }

.item
{
    color: white;

    text-decoration: none;
    font-family: Ubuntu;
    font-size: 1.5em;
}

.item p
{
    position: absolute;
    float: left;
    margin-bottom: 2em;
}
