body
{
    background-image: url("../img/bar.jpg");
    background-size: 1920px 1080px;
}

#container
{
    margin-top: 9em;
    margin: 0 auto;
}

#slogan
{
    color: white;
    font-size: 3em;

    display: block;
    margin: 0 auto;
}

#get-started
{
    background: black;

    width: 8em;
    height: 3em;

    display: block;
    margin: 0 auto;
    text-align: center;

    border-radius: 6px;
    border: 1px solid white;
}

#get-started a
{
    text-decoration: none;
    color: white;
}
