body
{
    background-image: url("../img/bar.jpg");
    background-size: 1920px 1080px;
}

#container
{
    height: 100%;
    width: 100%;
}

#slogan
{
    color: white;
    font-size: 3em;
    margin: 0 auto;
    margin-top: 20em;
}
