body
{
    background-image: url("../img/bar.jpg");
    background-size: 1920px 1080px;
}

#container
{
    margin: 0 auto;
}

#slogan
{
    color: white;
    font-size: 3em;
    margin-top: 9em;
    margin-left: 33%;
}

#get-started
{
    background: black;

    width: 8em;
    height: 3em;

    margin-left: 33%;
}

#get-started a
{
    text-decoration: none;
    color: white;
}

#get-started p
{
    margin-left: 33%;
}
