/**
 * System     : LiqSec
 * Repository : https://github.com/christian-westbrook/liqsec.git
 * File       : register.css
 * Developers : Nathan Brown, Nicholas Leonard, and Christian
 * Version    : Pre-release
 * Abstract   : Stylesheet for register.php
 */

 body
 {
     background-image: url("../img/bar.jpg");
     background-size: 1920px 1080px;
 }

 #container
 {
     text-align: center;

     display: block;
     margin: 0 auto;
     margin-top: 20em;
 }

 #label
 {
     font-size: 2.5em;
     color: white;
 }

 form
 {
     display: block;
     margin: 0 auto;
 }

 .field
 {
     width: 18em;
     height: 3em;
 }
