/**
 * System     : LiqSec
 * Repository : https://github.com/christian-westbrook/liqsec.git
 * File       : register.css
 * Developers : Nathan Brown, Nicholas Leonard, and Christian
 * Version    : Pre-release
 * Abstract   : Stylesheet for register.php
 */

 body
 {
     background-image: url("../img/bar.jpg");
     background-size: 1920px 1080px;
 }

 #error
 {
     color: red;
 }

 #container
 {
     background: black;
     border: solid 2px white;
     border-radius: 12px;

     text-align: center;

     width: 20em;

     display: block;
     margin: 0 auto;
     margin-top: 20em;
 }

 #label
 {
     font-size: 2.25em;
     color: white;

     margin-top: 0.5em;
     margin-bottom: 0.25em;
 }

 form
 {
     display: block;
     margin: 0 auto;
     margin-bottom: 1.5em;
 }

 .field
 {
     width: 18em;
     height: 3em;
 }
