/**
 * System     : LiqSec
 * Repository : https://github.com/christian-westbrook/liqsec.git
 * File       : register.css
 * Developers : Nathan Brown, Nicholas Leonard, and Christian
 * Version    : Pre-release
 * Abstract   : Stylesheet for register.php
 */

 body
 {
     background-image: url("../img/bar.jpg");
     background-size: 1920px 1080px;
 }

 #container
 {
     text-align: center;

     display: block;
     margin: 0 auto;
     margin-top: 27em;
 }

 form
 {
     display: block;
     margin: 0 auto;
 }

 .field
 {
     width: 15em;
     height: 3em;

     display: inline-block;
     float: left;
     clear: left;
 }
