/**
 * System     : LiqSec
 * Repository : https://github.com/christian-westbrook/liqsec.git
 * File       : update-pin.css
 * Developers : Nathan Brown, Nicholas Leonard, and Christian
 * Version    : Pre-release
 * Abstract   : Stylesheet for update-pin.php
 */

 body
{
   background: #002b36;
   color: white;
   margin: 0;
   padding: 0;
}

#container
{
   display: block;
   text-align: center;
   margin: 0 auto;
   margin-top: 25em;
}

.field
{
	width: 18em;
	height: 3em;
}
